<!doctype html>
<html>
<head>
    <title>File Metadata API</title>
    <meta charset='utf-8'>
</head>
<body>
    <h2>File Metadata API</h2>
    Upload your file to see the size in bytes.
    <br><br>
    <form action='/file' enctype='multipart/form-data' method='POST'>
        <input type='file' placeholder='browse' name='file'>
        <button type='submit'>Submit</button>
    </form>


</body>
</html>